# Market Basket Analysis -

#### Market Basket Analysis is a technique which identifies the strength of association between pairs of products purchased together and identify patterns of occurrence. It helps us to do positioning of product at a store which generate more revenue and it helps our organization to grow.

In [ ]:
# Generate data  --

In [46]:
# manually create data  --

data = [['Shirt', 'Trousers', 'Belt', 'Socks', 'Boot', 'Watch'],
        ['T-shirt', 'Jacket', 'Jeans', 'Shorts', 'Sneakers', 'Socks'],
        ['Jacket', 'Gloves', 'T-shirt'],
        ['T-shirt', 'Jeans', 'Jacket'],
        ['T-shirt', 'Jeans', 'Sneakers','Socks', 'Jacket', 'Belt', 'Watch', 'Gloves'],
        ['Jeans', 'Sneakers', 'Belt', 'Socks']]
data

[['Shirt', 'Trousers', 'Belt', 'Socks', 'Boot', 'Watch'],
 ['T-shirt', 'Jacket', 'Jeans', 'Shorts', 'Sneakers', 'Socks'],
 ['Jacket', 'Gloves', 'T-shirt'],
 ['T-shirt', 'Jeans', 'Jacket'],
 ['T-shirt',
  'Jeans',
  'Sneakers',
  'Socks',
  'Jacket',
  'Belt',
  'Watch',
  'Gloves'],
 ['Jeans', 'Sneakers', 'Belt', 'Socks']]

In [47]:
# first we do  --

# transactiion_encoder = in which it converts data into true-false, like first it take all unique values from our dataset
# and put it all in a list then it check list wise data from this unique list, if those list item present in this unique
# list it make these item true and at absence place it gives false


from mlxtend.preprocessing import TransactionEncoder

encoder = TransactionEncoder()

newdata = encoder.fit(data).transform(data)

In [48]:
newdata

array([[ True,  True, False, False, False,  True, False, False,  True,
        False,  True,  True],
       [False, False, False,  True,  True, False,  True,  True,  True,
         True, False, False],
       [False, False,  True,  True, False, False, False, False, False,
         True, False, False],
       [False, False, False,  True,  True, False, False, False, False,
         True, False, False],
       [ True, False,  True,  True,  True, False, False,  True,  True,
         True, False,  True],
       [ True, False, False, False,  True, False, False,  True,  True,
        False, False, False]])

In [49]:
# it is important to convert it into dataframe otherwise we doesn't understand  --

import pandas as pd

dataset = pd.DataFrame(newdata, columns = encoder.columns_)

dataset

,Belt,Boot,Gloves,Jacket,Jeans,Shirt,Shorts,Sneakers,Socks,T-shirt,Trousers,Watch
0,True,True,False,False,False,True,False,False,True,False,True,True
1,False,False,False,True,True,False,True,True,True,True,False,False
2,False,False,True,True,False,False,False,False,False,True,False,False
3,False,False,False,True,True,False,False,False,False,True,False,False
4,True,False,True,True,True,False,False,True,True,True,False,True
5,True,False,False,False,True,False,False,True,True,False,False,False

In [50]:
# using Apriori and Association  --


For this we use two algorithm â€“ Apriori  &  Association  ->

Association Rule - The main goal of association rules is to identify relations between products or variables in a dataset.
The idea is to determine which products often come together.

Apriori Rule -  It is the most popular algorithm for mining association rules. It finds the most frequent combinations 
in a database and identifies association rules between the items, based on 3 important

In [51]:

#  ----
#importing apriori and association  --
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# dtermining the frequent factor -
frequent = apriori(dataset, use_colnames = True, min_support = 0.1, max_len = 4)

# filtering the factor on the basis of condition -
rules = association_rules(frequent, metric = 'lift', min_threshold = 1)

#Display the first 10 records  --
print(rules.head(15).sort_values(by = 'confidence', ascending = False))

   antecedents consequents  antecedent support  consequent support   support  \
0       (Boot)      (Belt)            0.166667            0.500000  0.166667
6      (Shirt)      (Belt)            0.166667            0.500000  0.166667
11      (Belt)     (Socks)            0.500000            0.666667  0.500000
12  (Trousers)      (Belt)            0.166667            0.500000  0.166667
14     (Watch)      (Belt)            0.333333            0.500000  0.333333
10     (Socks)      (Belt)            0.666667            0.500000  0.500000
5       (Belt)     (Jeans)            0.500000            0.666667  0.333333
8   (Sneakers)      (Belt)            0.500000            0.500000  0.333333
9       (Belt)  (Sneakers)            0.500000            0.500000  0.333333
3     (Gloves)      (Belt)            0.333333            0.500000  0.166667
4      (Jeans)      (Belt)            0.666667            0.500000  0.333333
1       (Belt)      (Boot)            0.500000            0.166667  0.166667
2       (Belt)    (Gloves)            0.500000            0.333333  0.166667
7       (Belt)     (Shirt)            0.500000            0.166667  0.166667
13      (Belt)  (Trousers)            0.500000            0.166667  0.166667

    confidence      lift  leverage  conviction
0     1.000000  2.000000  0.083333         inf
6     1.000000  2.000000  0.083333         inf
11    1.000000  1.500000  0.166667         inf
12    1.000000  2.000000  0.083333         inf
14    1.000000  2.000000  0.166667         inf
10    0.750000  1.500000  0.166667        2.00
5     0.666667  1.000000  0.000000        1.00
8     0.666667  1.333333  0.083333        1.50
9     0.666667  1.333333  0.083333        1.50
3     0.500000  1.000000  0.000000        1.00
4     0.500000  1.000000  0.000000        1.00
1     0.333333  2.000000  0.083333        1.25
2     0.333333  1.000000  0.000000        1.00
7     0.333333  2.000000  0.083333        1.25
13    0.333333  2.000000  0.083333        1.25

In [52]:
# list of product which were sold atleast 30% of time  --

apriori(dataset, use_colnames = True, min_support = 0.4)

     support                  itemsets
0   0.500000                    (Belt)
1   0.666667                  (Jacket)
2   0.666667                   (Jeans)
3   0.500000                (Sneakers)
4   0.666667                   (Socks)
5   0.666667                 (T-shirt)
6   0.500000             (Socks, Belt)
7   0.500000           (Jeans, Jacket)
8   0.666667         (T-shirt, Jacket)
9   0.500000         (Jeans, Sneakers)
10  0.500000            (Jeans, Socks)
11  0.500000          (Jeans, T-shirt)
12  0.500000         (Socks, Sneakers)
13  0.500000  (Jeans, T-shirt, Jacket)
14  0.500000  (Jeans, Socks, Sneakers)

In [53]:

# it gives length of the combination of product -
frequent_itemsets = apriori(dataset, min_support = 0.4, use_colnames = True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x : len(x))
frequent_itemsets

     support                  itemsets  length
0   0.500000                    (Belt)       1
1   0.666667                  (Jacket)       1
2   0.666667                   (Jeans)       1
3   0.500000                (Sneakers)       1
4   0.666667                   (Socks)       1
5   0.666667                 (T-shirt)       1
6   0.500000             (Socks, Belt)       2
7   0.500000           (Jeans, Jacket)       2
8   0.666667         (T-shirt, Jacket)       2
9   0.500000         (Jeans, Sneakers)       2
10  0.500000            (Jeans, Socks)       2
11  0.500000          (Jeans, T-shirt)       2
12  0.500000         (Socks, Sneakers)       2
13  0.500000  (Jeans, T-shirt, Jacket)       3
14  0.500000  (Jeans, Socks, Sneakers)       3

In [ ]:
# from the combinations as we can see if anyone buy jeans then we can offer t-shirt to them and if they buy t-shirt we can
# offer jacket to them and the and same way if anyone buy shoes we can offer socks them in this way we can organize our
# products and also give offer one over other for more sale.